<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Hotel management</title>
</head>
<body>
    <div class="main-container">
        <div class="sidebar-mobile" style="display: none;">
            <span class="close">X</span>
            <ul>
                <li><a href="#!">ALL DEALS</a></li>
                <li><a href="#!">HOTELS</a></li>
                <li><a href="#!">ACTIVITES</a></li>
                <li><a href="#!">HOTELDAYPACKAGES</a></li>
                <li><a href="#!">RESTAURANTS</a></li>
                <li><a href="#!">EVENTS</a></li>
                <li><a href="#!">RODRIGUES</a></li>
            </ul>
        </div>
        <div class="top-header-mobile">
            <div class="header-logo-mobile">
                <img class="toggle-img" src="images/toggle-menu.png" alt="header-logo">
                <img src="images/Best tour plan.png" alt="header-logo">
            </div>
            <div class="cart">
                <img src="images/shopping-cart.png" alt="cart">
            </div>
        </div>

        <div class="top-header">
            <div class="help">
                <p><span>Questions?Need Help?</span>call us on (+123) 456 1100</p>
            </div>
            <div class="options">
              <div class="message">
                <img src="images/massege.png" alt="message">
                <p>BTP gift card</p>
              </div>
              <div class="favorite">
                <img src="images/star.png" alt="loyalty program">
                <p>loyalty program</p>
              </div>
            </div>
        </div>

        <div class="middle-header">
            <div class="sub-middle-header">
               <div class="header-logo">
                   <img src="images/Best tour plan.png" alt="header-logo">
               </div>
               <div class="searchbar">
                   <input type="sreach" placeholder="Search location">
                   <div class="search-tab">
                       <img src="images/search.png" alt="search-icon">
                   </div>
               </div>
            </div>
               <div class="profile">
                   <div class="cart">
                       <img src="images/shopping-cart.png" alt="cart">
                   </div>
                   <div class="profile-show">
                     <img src="images/Ellipse 1.png" alt="profile">
                     <p class="name">Nathan</p>
                     <img src="images/Vector (Stroke).png" alt="profile">
                   </div>
               </div>
        </div>
        <div class="bottom-header">
            <ul>
                <li><a href="#!">ALL DEALS</a></li>
                <li><a href="#!">HOTELS</a></li>
                <li><a href="#!">ACTIVITES</a></li>
                <li><a href="#!">HOTELDAYPACKAGES</a></li>
                <li><a href="#!">RESTAURANTS</a></li>
                <li><a href="#!">EVENTS</a></li>
                <li><a href="#!">RODRIGUES</a></li>
            </ul>
        </div>
        <div class="main-content">
            <div class="content-heading">
                <p>Home / Flash Offers / Grand Hilton Hotel</p>
                <img src="images/Stars.png" alt="rate">
                <div class="grand-hotel-heading"><h1>GRAND HILTON HOTEL</h1><div class="flash-offers">flash Offers</div></div>
                <p id="pre">Half-Board/ All Inclusive + Complimentary Activities + Child Stays Free</p>
            </div>
        </div>
        <div class="sub-content">
            <div class="content-images">
                <img src="images/Rectangle 5.png" alt="images">
            </div>
            <div class="booking-part">
              <div class="quick-booking">
                <div class="booking">
                    <div class="pricing">
                       <p>price start as</p>
                       <h1>$ 8,500</h1>
                       <p>Per room/ night</p>
                    </div>
                    <div class="guest-details">
                        <div class="guest"><img src="images/user.png"><p>2x Guests</p></div>
                        <div class="room"><img src="images/home.png"><p>1X Room</p></div>
                    </div>
                </div>
                <div class="book-now">
                    <h2>Quick Booking</h2>
                    <div class="contact"><img src="images/call-img.png"><h2>12100</h2></div>
                </div>
                <div class="view-btn">
                        <a href="#">View Other Options</a>
                    </div>
               </div> 
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14769.024595894132!2d70.7520461!3d22.2682848!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1704360940564!5m2!1sen!2sin" 
            width="100%" height="170px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
         </div>
        </div>
        <div class="hero-nav">
            <div class="navbar">
                <div class="nav">
                    <ul>
                        <li class="active"><a href="#package">Package Summery</a></li>
                        <li><a href="#hotelinformation">Hotel Information</a></li>
                        <li><a href="#room">Rooms</a></li>
                        <li><a href="#Facilities-activities">Facilities & Activities</a></li>
                        <li><a href="#dining-ent">Dining & Entertainment</a></li>
                        <li><a href="#review">Reviews</a></li>
                        <li><a href="#q-and-a">Questions & Answers</a></li>
                    </ul>
                </div>
            </div>
            <div class="hero-section">
                <div id="package" class="tabcontent">
                    <div class="package-heading">
                        <h3>PACKAGE SUMMERY</h3>
                    </div>
                    <div class="package-detail">
                        <div class="package-Highlights">
                                <h3 class="package-Highlights-heading">Package Highlights</h3>
                            <div class="package-points">
                                <div class="package-points-one">
                                    <ul>
                                        <li><img src="images/Group.png">Half Board/ All Inclusive</li>
                                        <li><img src="images/Group.png">Child Under 11 Years Stay Free</li>
                                        <li><img src="images/Group.png">LUX* Me Spa</li>
                                    </ul>
                                </div>
                                <div class="package-points-two">
                                    <ul>
                                        <li><img src="images/Group.png">Luxurious 5-Star Hotel</li>
                                        <li><img src="images/Group.png">Banyan An Adult Only Zone</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="offer-details">
                            <h3 class="offer-details-heading">Offer Details</h3>
                            <div class="offer-points">
                                <div class="offer-points-one">
                                    <ul>
                                        <li><img src="images/Group.png">Benefit from a special discounted CHILL’OUT OFFER at Grand Hilton Hotel.</li>
                                        <br>
                                        <br>
                                        <p>* Valid until 30 April 2020</p>
                                    </ul>
                                    <div class="date"><img src="images/Vector (1).png"><p>10th March - 30th April 2020</p></div>
                                </div>
                                <div class="offer-points-two">
                                <!-- </p>* Valid until 30 April 2020</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="package-summery-details">
                        <h3 class="tab-heading">Package Summery Details</h3>
                     <div class="tab-content-main">
                        <div class="tab-content-child">
                            <p>Purchase Inclusions</p>
                            <ul>
                                <li><img src="images/Group.png">Room as per selection</li>
                                <li><img src="images/Group.png">Half Board or All Inclusive Meal Plan</li>
                                <li><img src="images/Group.png">Complimentary Land & Water activities</li>
                                <li><img src="images/Group.png">Child Under 11 years old stays free</li>
                                <li><img src="images/Group.png">Free Wi-Fi</li>
                                <li><img src="images/Group.png">Free Secure Parking</li>
                            </ul>
                        </div>
                        <div class="tab-content-child">
                            <p>Complimentary Land Based Activities</p>
                            <ul>
                                <li><img src="images/Group.png">Gym</li>
                                <li><img src="images/Group.png">Beach Volley</li>
                                <li><img src="images/Group.png">Table tennis</li>
                                <li><img src="images/Group.png">Soccer balls</li>
                                <li><img src="images/Group.png">Yoga</li>
                                <li><img src="images/Group.png">Unlimited access to driving range</li>
                            </ul>
                        </div>
                        <div class="tab-content-child">
                            <p>Complimentary Water Based Activities</p>
                            <ul>
                                <li><img src="images/Group.png">Water skiing</li>
                                <li><img src="images/Group.png">Windsurfing</li>
                                <li><img src="images/Group.png">Pedal boats</li>
                                <li><img src="images/Group.png">Kayaking</li>
                                <li><img src="images/Group.png">Aqua Gym</li>
                                <li><img src="images/Group.png">Glass bottom boat trips</li>
                            </ul>
                        </div>
                     </div>
                    <div class="tab-content-main">
                       <div class="tab-content-child">
                          <p>Meal Plan Available</p>
                          <ul>
                              <li><img src="images/Group.png">Half Board</li>
                              <li><img src="images/Group.png">All Inclusive</li>
                          </ul>
                      </div>
                      <div class="tab-content-child">
                        <p>Entertainment</p>
                        <ul>
                            <li><img src="images/Group.png">Live music</li>
                            <li><img src="images/Group.png">DJ & Mauritian Dance Show</li>
                        </ul>
                    </div>
                    <div class="tab-content-child">
                        <p>Check In & Check Out</p>
                        <ul>
                            <li><img src="images/Group.png">Check In Time 14:00</li>
                            <li><img src="images/Group.png">Check Out Time 11:00</li>
                        </ul>
                    </div>
                     </div>
                    </div>
                    <!-- ============= -->
                </div>
            <!-- </div> -->
            <div class="hero-section">
                <div id="hotelinformation" class="tabcontent">
                    <div class="package-heading">
                        <h3>Hotel Information</h3>
                    </div>
                    <div class="package-detail">
                        <div class="package-Highlights">
                                <h3 class="package-Highlights-heading">Hotel Highlights</h3>
                            <div class="package-points">
                                <div class="package-points-one">
                                    <ul>
                                        <li><img src="images/Group.png">Half Board/ All Inclusive</li>
                                        <li><img src="images/Group.png">Child Under 11 Years Stay Free</li>
                                        <li><img src="images/Group.png">LUX* Me Spa</li>
                                    </ul>
                                </div>
                                <div class="package-points-two">
                                    <ul>
                                        <li><img src="images/Group.png">Luxurious 5-Star Hotel</li>
                                        <li><img src="images/Group.png">Banyan An Adult Only Zone</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="offer-details">
                            <h3 class="offer-details-heading">Offer Details</h3>
                            <div class="offer-points">
                                <div class="offer-points-one">
                                    <ul>
                                        <li><img src="images/Group.png">Benefit from a special discounted CHILL’OUT OFFER at Grand Hilton Hotel.</li>
                                        <br>
                                        <br>
                                        <p>* Valid until 30 April 2020</p>
                                    </ul>
                                    <div class="date"><img src="images/Vector (1).png"><p>10th March - 30th April 2020</p></div>
                                </div>
                                <div class="offer-points-two">
                                <!-- </p>* Valid until 30 April 2020</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="package-summery-details">
                        <h3 class="tab-heading">Hotel Details</h3>
                     <div class="tab-content-main">
                        <div class="tab-content-child">
                            <p>Purchase Inclusions</p>
                            <ul>
                                <li><img src="images/Group.png">Room as per selection</li>
                                <li><img src="images/Group.png">Half Board or All Inclusive Meal Plan</li>
                                <li><img src="images/Group.png">Complimentary Land & Water activities</li>
                                <li><img src="images/Group.png">Child Under 11 years old stays free</li>
                                <li><img src="images/Group.png">Free Wi-Fi</li>
                                <li><img src="images/Group.png">Free Secure Parking</li>
                            </ul>
                        </div>
                        <div class="tab-content-child">
                            <p>Complimentary Land Based Activities</p>
                            <ul>
                                <li><img src="images/Group.png">Gym</li>
                                <li><img src="images/Group.png">Beach Volley</li>
                                <li><img src="images/Group.png">Table tennis</li>
                                <li><img src="images/Group.png">Soccer balls</li>
                                <li><img src="images/Group.png">Yoga</li>
                                <li><img src="images/Group.png">Unlimited access to driving range</li>
                            </ul>
                        </div>
                        <div class="tab-content-child">
                            <p>Complimentary Water Based Activities</p>
                            <ul>
                                <li><img src="images/Group.png">Water skiing</li>
                                <li><img src="images/Group.png">Windsurfing</li>
                                <li><img src="images/Group.png">Pedal boats</li>
                                <li><img src="images/Group.png">Kayaking</li>
                                <li><img src="images/Group.png">Aqua Gym</li>
                                <li><img src="images/Group.png">Glass bottom boat trips</li>
                            </ul>
                        </div>
                     </div>
                    <div class="tab-content-main">
                       <div class="tab-content-child">
                          <p>Meal Plan Available</p>
                          <ul>
                              <li><img src="images/Group.png">Half Board</li>
                              <li><img src="images/Group.png">All Inclusive</li>
                          </ul>
                      </div>
                      <div class="tab-content-child">
                        <p>Entertainment</p>
                        <ul>
                            <li><img src="images/Group.png">Live music</li>
                            <li><img src="images/Group.png">DJ & Mauritian Dance Show</li>
                        </ul>
                    </div>
                    <div class="tab-content-child">
                        <p>Check In & Check Out</p>
                        <ul>
                            <li><img src="images/Group.png">Check In Time 14:00</li>
                            <li><img src="images/Group.png">Check Out Time 11:00</li>
                        </ul>
                    </div>
                     </div>
                    </div>
                </div>
            <!-- </div> -->
            <!-- <div class="hero-section"> -->
                <div id="room" class="tabcontent">
                    <div class="package-heading">
                        <h3>ROOMS</h3>
                    </div>
                    <div class="package-detail">
                        <div class="package-Highlights">
                                <h3 class="package-Highlights-heading">room Highlights</h3>
                            <div class="package-points">
                                <div class="package-points-one">
                                    <ul>
                                        <li><img src="images/Group.png">Half Board/ All Inclusive</li>
                                        <li><img src="images/Group.png">Child Under 11 Years Stay Free</li>
                                        <li><img src="images/Group.png">LUX* Me Spa</li>
                                    </ul>
                                </div>
                                <div class="package-points-two">
                                    <ul>
                                        <li><img src="images/Group.png">Luxurious 5-Star Hotel</li>
                                        <li><img src="images/Group.png">Banyan An Adult Only Zone</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="offer-details">
                            <h3 class="offer-details-heading">Offer Details</h3>
                            <div class="offer-points">
                                <div class="offer-points-one">
                                    <ul>
                                        <li><img src="images/Group.png">Benefit from a special discounted CHILL’OUT OFFER at Grand Hilton Hotel.</li>
                                        <br>
                                        <br>
                                        <p>* Valid until 30 April 2020</p>
                                    </ul>
                                    <div class="date"><img src="images/Vector (1).png"><p>10th March - 30th April 2020</p></div>
                                </div>
                                <div class="offer-points-two">
                                <!-- </p>* Valid until 30 April 2020</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="package-summery-details">
                        <h3 class="tab-heading">Room Details</h3>
                     <div class="tab-content-main">
                        <div class="tab-content-child">
                            <p>Purchase Inclusions</p>
                            <ul>
                                <li><img src="images/Group.png">Room as per selection</li>
                                <li><img src="images/Group.png">Half Board or All Inclusive Meal Plan</li>
                                <li><img src="images/Group.png">Complimentary Land & Water activities</li>
                                <li><img src="images/Group.png">Child Under 11 years old stays free</li>
                                <li><img src="images/Group.png">Free Wi-Fi</li>
                                <li><img src="images/Group.png">Free Secure Parking</li>
                            </ul>
                        </div>
                        <div class="tab-content-child">
                            <p>Complimentary Land Based Activities</p>
                            <ul>
                                <li><img src="images/Group.png">Gym</li>
                                <li><img src="images/Group.png">Beach Volley</li>
                                <li><img src="images/Group.png">Table tennis</li>
                                <li><img src="images/Group.png">Soccer balls</li>
                                <li><img src="images/Group.png">Yoga</li>
                                <li><img src="images/Group.png">Unlimited access to driving range</li>
                            </ul>
                        </div>
                        <div class="tab-content-child">
                            <p>Complimentary Water Based Activities</p>
                            <ul>
                                <li><img src="images/Group.png">Water skiing</li>
                                <li><img src="images/Group.png">Windsurfing</li>
                                <li><img src="images/Group.png">Pedal boats</li>
                                <li><img src="images/Group.png">Kayaking</li>
                                <li><img src="images/Group.png">Aqua Gym</li>
                                <li><img src="images/Group.png">Glass bottom boat trips</li>
                            </ul>
                        </div>
                     </div>
                    <div class="tab-content-main">
                       <div class="tab-content-child">
                          <p>Meal Plan Available</p>
                          <ul>
                              <li><img src="images/Group.png">Half Board</li>
                              <li><img src="images/Group.png">All Inclusive</li>
                          </ul>
                      </div>
                      <div class="tab-content-child">
                        <p>Entertainment</p>
                        <ul>
                            <li><img src="images/Group.png">Live music</li>
                            <li><img src="images/Group.png">DJ & Mauritian Dance Show</li>
                        </ul>
                    </div>
                    <div class="tab-content-child">
                        <p>Check In & Check Out</p>
                        <ul>
                            <li><img src="images/Group.png">Check In Time 14:00</li>
                            <li><img src="images/Group.png">Check Out Time 11:00</li>
                        </ul>
                    </div>
                     </div>
                    </div>
                </div>
            <!-- </div> -->
            
            <div class="hero-section">
                <div id="Facilities-activities" class="tabcontent">
                    <div class="package-heading">
                        <h3>FACILITIES & ACTIVITIES</h3>
                    </div>
                    <div class="package-detail">
                        <div class="package-Highlights">
                                <h3 class="package-Highlights-heading">Facilities Highlights</h3>
                            <div class="package-points">
                                <div class="package-points-one">
                                    <ul>
                                        <li><img src="images/Group.png">Half Board/ All Inclusive</li>
                                        <li><img src="images/Group.png">Child Under 11 Years Stay Free</li>
                                        <li><img src="images/Group.png">LUX* Me Spa</li>
                                    </ul>
                                </div>
                                <div class="package-points-two">
                                    <ul>
                                        <li><img src="images/Group.png">Luxurious 5-Star Hotel</li>
                                        <li><img src="images/Group.png">Banyan An Adult Only Zone</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="offer-details">
                            <h3 class="offer-details-heading">Offer Details</h3>
                            <div class="offer-points">
                                <div class="offer-points-one">
                                    <ul>
                                        <li><img src="images/Group.png">Benefit from a special discounted CHILL’OUT OFFER at Grand Hilton Hotel.</li>
                                        <br>
                                        <br>
                                        <p>* Valid until 30 April 2020</p>
                                    </ul>
                                    <div class="date"><img src="images/Vector (1).png"><p>10th March - 30th April 2020</p></div>
                                </div>
                                <div class="offer-points-two">
                                <!-- </p>* Valid until 30 April 2020</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="package-summery-details">
                        <h3 class="tab-heading">Facilities Details</h3>
                     <div class="tab-content-main">
                        <div class="tab-content-child">
                            <p>Purchase Inclusions</p>
                            <ul>
                                <li><img src="images/Group.png">Room as per selection</li>
                                <li><img src="images/Group.png">Half Board or All Inclusive Meal Plan</li>
                                <li><img src="images/Group.png">Complimentary Land & Water activities</li>
                                <li><img src="images/Group.png">Child Under 11 years old stays free</li>
                                <li><img src="images/Group.png">Free Wi-Fi</li>
                                <li><img src="images/Group.png">Free Secure Parking</li>
                            </ul>
                        </div>
                        <div class="tab-content-child">
                            <p>Complimentary Land Based Activities</p>
                            <ul>
                                <li><img src="images/Group.png">Gym</li>
                                <li><img src="images/Group.png">Beach Volley</li>
                                <li><img src="images/Group.png">Table tennis</li>
                                <li><img src="images/Group.png">Soccer balls</li>
                                <li><img src="images/Group.png">Yoga</li>
                                <li><img src="images/Group.png">Unlimited access to driving range</li>
                            </ul>
                        </div>
                        <div class="tab-content-child">
                            <p>Complimentary Water Based Activities</p>
                            <ul>
                                <li><img src="images/Group.png">Water skiing</li>
                                <li><img src="images/Group.png">Windsurfing</li>
                                <li><img src="images/Group.png">Pedal boats</li>
                                <li><img src="images/Group.png">Kayaking</li>
                                <li><img src="images/Group.png">Aqua Gym</li>
                                <li><img src="images/Group.png">Glass bottom boat trips</li>
                            </ul>
                        </div>
                     </div>
                    <div class="tab-content-main">
                       <div class="tab-content-child">
                          <p>Meal Plan Available</p>
                          <ul>
                              <li><img src="images/Group.png">Half Board</li>
                              <li><img src="images/Group.png">All Inclusive</li>
                          </ul>
                      </div>
                      <div class="tab-content-child">
                        <p>Entertainment</p>
                        <ul>
                            <li><img src="images/Group.png">Live music</li>
                            <li><img src="images/Group.png">DJ & Mauritian Dance Show</li>
                        </ul>
                    </div>
                    <div class="tab-content-child">
                        <p>Check In & Check Out</p>
                        <ul>
                            <li><img src="images/Group.png">Check In Time 14:00</li>
                            <li><img src="images/Group.png">Check Out Time 11:00</li>
                        </ul>
                    </div>
                     </div>
                    </div>
                </div>
            <!-- </div> -->
            <!-- <div class="hero-section"> -->
                <div id="dining-ent" class="tabcontent">
                    <div class="package-heading">
                        <h3>DINING & ENTERTAINMENT</h3>
                    </div>
                    <div class="package-detail">
                        <div class="package-Highlights">
                                <h3 class="package-Highlights-heading">Package Highlights</h3>
                            <div class="package-points">
                                <div class="package-points-one">
                                    <ul>
                                        <li><img src="images/Group.png">Half Board/ All Inclusive</li>
                                        <li><img src="images/Group.png">Child Under 11 Years Stay Free</li>
                                        <li><img src="images/Group.png">LUX* Me Spa</li>
                                    </ul>
                                </div>
                                <div class="package-points-two">
                                    <ul>
                                        <li><img src="images/Group.png">Luxurious 5-Star Hotel</li>
                                        <li><img src="images/Group.png">Banyan An Adult Only Zone</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="offer-details">
                            <h3 class="offer-details-heading">Offer Details</h3>
                            <div class="offer-points">
                                <div class="offer-points-one">
                                    <ul>
                                        <li><img src="images/Group.png">Benefit from a special discounted CHILL’OUT OFFER at Grand Hilton Hotel.</li>
                                        <br>
                                        <br>
                                        <p>* Valid until 30 April 2020</p>
                                    </ul>
                                    <div class="date"><img src="images/Vector (1).png"><p>10th March - 30th April 2020</p></div>
                                </div>
                                <div class="offer-points-two">
                                <!-- </p>* Valid until 30 April 2020</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="package-summery-details">
                        <h3 class="tab-heading">Package Summery Details</h3>
                     <div class="tab-content-main">
                        <div class="tab-content-child">
                            <p>Purchase Inclusions</p>
                            <ul>
                                <li><img src="images/Group.png">Room as per selection</li>
                                <li><img src="images/Group.png">Half Board or All Inclusive Meal Plan</li>
                                <li><img src="images/Group.png">Complimentary Land & Water activities</li>
                                <li><img src="images/Group.png">Child Under 11 years old stays free</li>
                                <li><img src="images/Group.png">Free Wi-Fi</li>
                                <li><img src="images/Group.png">Free Secure Parking</li>
                            </ul>
                        </div>
                        <div class="tab-content-child">
                            <p>Complimentary Land Based Activities</p>
                            <ul>
                                <li><img src="images/Group.png">Gym</li>
                                <li><img src="images/Group.png">Beach Volley</li>
                                <li><img src="images/Group.png">Table tennis</li>
                                <li><img src="images/Group.png">Soccer balls</li>
                                <li><img src="images/Group.png">Yoga</li>
                                <li><img src="images/Group.png">Unlimited access to driving range</li>
                            </ul>
                        </div>
                        <div class="tab-content-child">
                            <p>Complimentary Water Based Activities</p>
                            <ul>
                                <li><img src="images/Group.png">Water skiing</li>
                                <li><img src="images/Group.png">Windsurfing</li>
                                <li><img src="images/Group.png">Pedal boats</li>
                                <li><img src="images/Group.png">Kayaking</li>
                                <li><img src="images/Group.png">Aqua Gym</li>
                                <li><img src="images/Group.png">Glass bottom boat trips</li>
                            </ul>
                        </div>
                     </div>
                    <div class="tab-content-main">
                       <div class="tab-content-child">
                          <p>Meal Plan Available</p>
                          <ul>
                              <li><img src="images/Group.png">Half Board</li>
                              <li><img src="images/Group.png">All Inclusive</li>
                          </ul>
                      </div>
                      <div class="tab-content-child">
                        <p>Entertainment</p>
                        <ul>
                            <li><img src="images/Group.png">Live music</li>
                            <li><img src="images/Group.png">DJ & Mauritian Dance Show</li>
                        </ul>
                    </div>
                    <div class="tab-content-child">
                        <p>Check In & Check Out</p>
                        <ul>
                            <li><img src="images/Group.png">Check In Time 14:00</li>
                            <li><img src="images/Group.png">Check Out Time 11:00</li>
                        </ul>
                    </div>
                     </div>
                    </div>
                </div>
            <!-- </div> -->
            <!-- <div class="hero-section"> -->
                <div id="review" class="tabcontent">
                    <div class="package-heading">
                        <h3>REVIEW</h3>
                    </div>
                    <div class="package-detail">
                        <div class="package-Highlights">
                                <h3 class="package-Highlights-heading">Package Highlights</h3>
                            <div class="package-points">
                                <div class="package-points-one">
                                    <ul>
                                        <li><img src="images/Group.png">Half Board/ All Inclusive</li>
                                        <li><img src="images/Group.png">Child Under 11 Years Stay Free</li>
                                        <li><img src="images/Group.png">LUX* Me Spa</li>
                                    </ul>
                                </div>
                                <div class="package-points-two">
                                    <ul>
                                        <li><img src="images/Group.png">Luxurious 5-Star Hotel</li>
                                        <li><img src="images/Group.png">Banyan An Adult Only Zone</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="offer-details">
                            <h3 class="offer-details-heading">Offer Details</h3>
                            <div class="offer-points">
                                <div class="offer-points-one">
                                    <ul>
                                        <li><img src="images/Group.png">Benefit from a special discounted CHILL’OUT OFFER at Grand Hilton Hotel.</li>
                                        <br>
                                        <br>
                                        <p>* Valid until 30 April 2020</p>
                                    </ul>
                                    <div class="date"><img src="images/Vector (1).png"><p>10th March - 30th April 2020</p></div>
                                </div>
                                <div class="offer-points-two">
                                <!-- </p>* Valid until 30 April 2020</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="package-summery-details">
                        <h3 class="tab-heading">Package Summery Details</h3>
                     <div class="tab-content-main">
                        <div class="tab-content-child">
                            <p>Purchase Inclusions</p>
                            <ul>
                                <li><img src="images/Group.png">Room as per selection</li>
                                <li><img src="images/Group.png">Half Board or All Inclusive Meal Plan</li>
                                <li><img src="images/Group.png">Complimentary Land & Water activities</li>
                                <li><img src="images/Group.png">Child Under 11 years old stays free</li>
                                <li><img src="images/Group.png">Free Wi-Fi</li>
                                <li><img src="images/Group.png">Free Secure Parking</li>
                            </ul>
                        </div>
                        <div class="tab-content-child">
                            <p>Complimentary Land Based Activities</p>
                            <ul>
                                <li><img src="images/Group.png">Gym</li>
                                <li><img src="images/Group.png">Beach Volley</li>
                                <li><img src="images/Group.png">Table tennis</li>
                                <li><img src="images/Group.png">Soccer balls</li>
                                <li><img src="images/Group.png">Yoga</li>
                                <li><img src="images/Group.png">Unlimited access to driving range</li>
                            </ul>
                        </div>
                        <div class="tab-content-child">
                            <p>Complimentary Water Based Activities</p>
                            <ul>
                                <li><img src="images/Group.png">Water skiing</li>
                                <li><img src="images/Group.png">Windsurfing</li>
                                <li><img src="images/Group.png">Pedal boats</li>
                                <li><img src="images/Group.png">Kayaking</li>
                                <li><img src="images/Group.png">Aqua Gym</li>
                                <li><img src="images/Group.png">Glass bottom boat trips</li>
                            </ul>
                        </div>
                     </div>
                    <div class="tab-content-main">
                       <div class="tab-content-child">
                          <p>Meal Plan Available</p>
                          <ul>
                              <li><img src="images/Group.png">Half Board</li>
                              <li><img src="images/Group.png">All Inclusive</li>
                          </ul>
                      </div>
                      <div class="tab-content-child">
                        <p>Entertainment</p>
                        <ul>
                            <li><img src="images/Group.png">Live music</li>
                            <li><img src="images/Group.png">DJ & Mauritian Dance Show</li>
                        </ul>
                    </div>
                    <div class="tab-content-child">
                        <p>Check In & Check Out</p>
                        <ul>
                            <li><img src="images/Group.png">Check In Time 14:00</li>
                            <li><img src="images/Group.png">Check Out Time 11:00</li>
                        </ul>
                    </div>
                     </div>
                    </div>
                </div>
            <!-- </div> -->
            <div class="hero-section">
                <div id="q-and-a" class="tabcontent">
                    <div class="package-heading">
                        <h3>QUESTIONS & ANSWERS</h3>
                    </div>
                    <div class="package-detail">
                        <div class="package-Highlights">
                                <h3 class="package-Highlights-heading">Package Highlights</h3>
                            <div class="package-points">
                                <div class="package-points-one">
                                    <ul>
                                        <li><img src="images/Group.png">Half Board/ All Inclusive</li>
                                        <li><img src="images/Group.png">Child Under 11 Years Stay Free</li>
                                        <li><img src="images/Group.png">LUX* Me Spa</li>
                                    </ul>
                                </div>
                                <div class="package-points-two">
                                    <ul>
                                        <li><img src="images/Group.png">Luxurious 5-Star Hotel</li>
                                        <li><img src="images/Group.png">Banyan An Adult Only Zone</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="offer-details">
                            <h3 class="offer-details-heading">Offer Details</h3>
                            <div class="offer-points">
                                <div class="offer-points-one">
                                    <ul>
                                        <li><img src="images/Group.png">Benefit from a special discounted CHILL’OUT OFFER at Grand Hilton Hotel.</li>
                                        <br>
                                        <br>
                                        <p>* Valid until 30 April 2020</p>
                                    </ul>
                                    <div class="date"><img src="images/Vector (1).png"><p>10th March - 30th April 2020</p></div>
                                </div>
                                <div class="offer-points-two">
                                <!-- </p>* Valid until 30 April 2020</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="package-summery-details">
                        <h3 class="tab-heading">Package Summery Details</h3>
                     <div class="tab-content-main">
                        <div class="tab-content-child">
                            <p>Purchase Inclusions</p>
                            <ul>
                                <li><img src="images/Group.png">Room as per selection</li>
                                <li><img src="images/Group.png">Half Board or All Inclusive Meal Plan</li>
                                <li><img src="images/Group.png">Complimentary Land & Water activities</li>
                                <li><img src="images/Group.png">Child Under 11 years old stays free</li>
                                <li><img src="images/Group.png">Free Wi-Fi</li>
                                <li><img src="images/Group.png">Free Secure Parking</li>
                            </ul>
                        </div>
                        <div class="tab-content-child">
                            <p>Complimentary Land Based Activities</p>
                            <ul>
                                <li><img src="images/Group.png">Gym</li>
                                <li><img src="images/Group.png">Beach Volley</li>
                                <li><img src="images/Group.png">Table tennis</li>
                                <li><img src="images/Group.png">Soccer balls</li>
                                <li><img src="images/Group.png">Yoga</li>
                                <li><img src="images/Group.png">Unlimited access to driving range</li>
                            </ul>
                        </div>
                        <div class="tab-content-child">
                            <p>Complimentary Water Based Activities</p>
                            <ul>
                                <li><img src="images/Group.png">Water skiing</li>
                                <li><img src="images/Group.png">Windsurfing</li>
                                <li><img src="images/Group.png">Pedal boats</li>
                                <li><img src="images/Group.png">Kayaking</li>
                                <li><img src="images/Group.png">Aqua Gym</li>
                                <li><img src="images/Group.png">Glass bottom boat trips</li>
                            </ul>
                        </div>
                     </div>
                    <div class="tab-content-main">
                       <div class="tab-content-child">
                          <p>Meal Plan Available</p>
                          <ul>
                              <li><img src="images/Group.png">Half Board</li>
                              <li><img src="images/Group.png">All Inclusive</li>
                          </ul>
                      </div>
                      <div class="tab-content-child">
                        <p>Entertainment</p>
                        <ul>
                            <li><img src="images/Group.png">Live music</li>
                            <li><img src="images/Group.png">DJ & Mauritian Dance Show</li>
                        </ul>
                    </div>
                    <div class="tab-content-child">
                        <p>Check In & Check Out</p>
                        <ul>
                            <li><img src="images/Group.png">Check In Time 14:00</li>
                            <li><img src="images/Group.png">Check Out Time 11:00</li>
                        </ul>
                    </div>
                     </div>
                    </div>
                </div>
            </div>
            <h3 class="otherpackages-heading">Other Packages</h3>
            <!-- ====== -->
            <div class="otherpackages">
                <div class="otherpackages-part-one">
                    <div class="otherpackages-main-image">
                        <img class="" src="images/Rectangle 20.png" alt="image">
                    </div>
                    <p class="flashoffer">Flash Offer</p>
                   <div class="main-class"> 
                    <div class="otherpackages-details-one">
                        <img class="stars" src="images/Stars.png" >
                        <h3>Hotel Blue Haven</h3>
                        <p class="Aute">Aute quis duis excepteur excepteur ipsum cat eiusmod consectetur enim
                             laborum magna llit. Ipsum est fugiat velit ea llamco do esse ut in 
                             veniam sun in onsequat. Aute quis duis epteur excepteur ipsum occaecat
                             eiusmod nsectetur enim laborum magna mollit. Ipsum est fugiat velit
                             ea ullamco do
                        </p>
                        <div class="location"><img class="map" src="images/map-pin.png"><p>1749 Wheeler Ridge  Delaware</p></div>
                        <div class="location"><img class="map" src="images/user.png"><p>2 x Guests</p></div>
                        <div class="location"><img class="map" src="images/home.png"><p>1 x Room</p></div>
                        <h4 class="previous-price"><del >$10,500</del></h4>
                        <div class="price"><h4>$8,500</h4><button class="booknow">Book Now</button></div>
                    </div>
                    </div>
                </div>
                <div class="otherpackages-part-two"> 
                    <p class="flashoffer">Flash Offer</p>
                    <img class="otherpackages-part-two-img" src="images/Rectangle 20 (1).png" alt="image">
                    
                    <div class="otherpackages-details-two">
                        <h4 class="lux">LUX* Belle Mare</h4>
                        <div class="location"><img class="map" src="images/map-pin.png"><p>1749 Wheeler Ridge  Delaware</p></div>
                        <div class="location"><img class="map" src="images/user.png"><p>2 x Guests</p></div>
                        <div class="location"><img class="map" src="images/home.png"><p>1 x Room</p></div>
                        <h4 class="previous-price"><del >$10,500</del></h4>
                        <div class="price"><h4>$8,500</h4><button class="booknow">Book Now</button></div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="whitepalace">
                    <p class="flashoffer">Flash Offer</p>
                    <img class="card-img" src="images/Rectangle 20 (2).png">
                    <div class="card-details">
                    <h4 class="lux">LUX* Belle Mare</h4>
                        <div class="location"><img class="map" src="images/map-pin.png"><p>1749 Wheeler Ridge  Delaware</p></div>
                        <div class="location"><img class="map" src="images/user.png"><p>2 x Guests</p></div>
                        <div class="location"><img class="map" src="images/home.png"><p>1 x Room</p></div>
                        <h4 class="previous-price"><del >$10,500</del></h4>
                        <div class="price"><h4>$8,500</h4><button class="booknow">Book Now</button></div>
                    </div>
                </div>
                <div class="luxurypalace">
                    <p class="flashoffer">Flash Offer</p>
                    <img class="card-img" src="images/Rectangle 20 (3).png">
                    <div class="card-details">
                        <h4 class="lux">LUX* Belle Mare</h4>
                            <div class="location"><img class="map" src="images/map-pin.png"><p>1749 Wheeler Ridge  Delaware</p></div>
                            <div class="location"><img class="map" src="images/user.png"><p>2 x Guests</p></div>
                            <div class="location"><img class="map" src="images/home.png"><p>1 x Room</p></div>
                            <h4 class="previous-price"><del >$10,500</del></h4>
                            <div class="price"><h4>$8,500</h4><button class="booknow">Book Now</button></div>
                        </div>
                </div>
                <div class="fivestare">
                    <p class="flashoffer">Flash Offer</p>
                    <img class="card-img" src="images/Rectangle 20 (4).png">
                    <div class="card-details">
                        <h4 class="lux">LUX* Belle Mare</h4>
                            <div class="location"><img class="map" src="images/map-pin.png"><p>1749 Wheeler Ridge  Delaware</p></div>
                            <div class="location"><img class="map" src="images/user.png"><p>2 x Guests</p></div>
                            <div class="location"><img class="map" src="images/home.png"><p>1 x Room</p></div>
                            <h4 class="previous-price"><del >$10,500</del></h4>
                            <div class="price"><h4>$8,500</h4><button class="booknow">Book Now</button></div>
                        </div>
                </div>
            </div>
            <div class="feedback">
                <img class="slid-btn-first" src="images/Vector (Stroke).png" alt="">
                <div class="feedback-part">
                    <h4 class="feedback-heading" >What people thinks about us</h4>
                    <div class="feedback-profile">
                        <img src="images/Ellipse 3.png">
                        <p class="meganfox">Megan Fox</p>
                        <p>Stayed 18 Nov, 2019</p>
                        <img src="images/Stars.png" alt="">
                        <p class="feedback-details">It was very nice hotel with cleanliness. Staff behavior was good and polite. They welcome us very well. Issue was only that Lift was not in working and we were allotted to 3rd floor and amenities articles were in corner of gallery which were giving bad feeling. Breakfast was good and support of the staff was also very nice. Location is not good as per atmosphere, it is very nearby most of the popular places but self location in a narrow street is not good. Overall it was a good experience and could recommend. </p>
                    </div>
                </div>
                <img class="slid-btn-second" src="images/Vector (Stroke).png" alt="">
            </div>
        </div>
    </div></div>
     <div class="subscribe">
       <div class="blue">
           <div class="subscribe-heading">
               <p>subscribe to our</p>
               <h4>Newsletter</h4>
           </div>
           <div class="searchbar">
            <input type="sreach" placeholder="Search location">
            <div class="search-tab">
                <img src="images/search.png" alt="search-icon">
            </div>
        </div>
       </div>
     </div>
     <div class="otheractivitis">
       <h4>Other Activities</h4> 
       <div class="activity-cards">
           <div class="activitycard-one"> 
              <p class="activitytext">The curious corner 
                 of chamarel</p>
              <button class="activity-btn">Book Now</button> 
            </div>  
           <div class="activitycard-two">
             <p class="activitytext">The curious corner 
                of chamarel</p>
             <button class="activity-btn">Book Now</button>  
           </div>
          <div class="activitycard-three">
            <p class="activitytext">The curious corner 
                of chamarel</p>
             <button class="activity-btn">Book Now</button>  
          </div>
         <div class="activitycard-four">
            <p class="activitytext">The curious corner 
                of chamarel</p>
             <button class="activity-btn">Book Now</button>  
         </div>
       </div>
     </div>
     <div class="footer">
         <div class="footer-part-one">
             <div class="footer-logo">
                  <img src="images/Best tour plan (1).png">
             </div>
             <div class="categories">
                 <h4>ALL CATEGORIES</h4>
                 <p>All Deals</p>
                 <p>Hotels</p>
                 <p>Activities</p>
                 <p>Spa package</p>
                 <p>Hotel day package</p>
                 <p>Rastaurents</p>
                 <p>Fitness</p>
                 <p>Rodrigues</p>
             </div>
             <div class="information">
                <h4>ADDITIONAL INFORMATION</h4>
                <p>About us</p>
                <p>Contact us</p>
                <p>How dose it works?</p>
                <p>Frequently Asked Questions</p>
                <p>Deals mu loyalty programs</p>
                <p>Promot your business on BTP</p>
                <div class="socialnet">
                    <h4>SOCIAL <br> NETWORK</h4>
                    <img src="images/bx_bxl-facebook-circle.png">
                    <img src="images/Vector (2).png">
                    <img src="images/whh_circleinstagram.png">
                </div>
             </div>
             <div class="legal-information">
                <h4>LEGAL <br> INFORMATION</h4>
                <p>Tarm and conditions</p>
                <p>Disclaimer</p>
                <p>Cancellation policy</p>
                <p>Privacy</p>
             </div>
         </div>
         <div class="footer-part-two">
           <div class="contact_detail">
               <h4 class="contact_heading">CONTACT DETAILS</h4>
               <p class="feelfree">Feel free to contact us by phone, email or by our contact form</p>
               <div class="addrass"><img src="images/Vector.png"><p>9748 Blossom Hill Rd undefined Lansing, Idaho 68545 United States</p></div>
               <div class="tel"><img src="images/call-img.png"><p>Tel (business hours) : 269 1500</br>
                Tel (hotline) Monday - Saturday: 52-56-61-38 (08:00 am – 20:00 pm)</br>
                Tel (hotline) Sunday: 52-56-61-38 (08:00 am – 14:00 pm)</p></div>
               <div class="email-section"><img src="images/massege.png"><p>cherly.lawson@example.com</p></div>
           </div>
           <div class="send_us_message">
            <h4 class="contact_heading">SEND US A MESSAGE</h4>
            <div class="input-part-one">
              <input type="text" placeholder="Your Full Name*">
              <input type="text" placeholder="Phone Number*">
            </div>
            <textarea class="messagebox" placeholder="Message*" rows="8"></textarea>
            <button class="send-btn">Send</button>
            <p class="Required">* Required Fields</p>
           </div>          
         </div>
         <h4 class="disclaimer">Disclaimer
            Conditions of use
            Cancellation policy
        </h4>  
    
     </div>
    </div>
    <script src="js/js.js"></script>
    <script src="js/jquery.min.js"></script>
 <script>
 $(document).ready(function () {

//TAB 
$('.nav li:first-child').addClass('active');
$('.tabcontent').hide();
$('.tabcontent:first').show();

$('.nav li').click(function () {
  $('.nav li').removeClass('active');
  $(this).addClass('active');
  $('.tabcontent').hide();

  var activeTab = $(this).find('a').attr('href');
  $(activeTab).fadeIn();
  return false;
});


//TOOGLE
$('.toggle-img').click(function () {
  $('.sidebar-mobile').slideToggle(500);
});

$('.close').click(function () {
  $('.sidebar-mobile').slideToggle(500);
});

});
    </script>
</body>
</html>